
body, html
{
	margin:0;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #c8c8c8;
}

canvas
{
	/* height: 500px;
	width: 700px; */
	cursor: url(cursor.png), auto;
	/* margin-left: auto;
	margin-right: auto; */
	display: block; 		
	background-color: #008f0a;
	/* background-size: 200px;	 */
	/* position: absolute; */
	/* left: 50px; */
	/* background-image: url("grassBg.jpg");
	background-repeat: repeat; */
}

canvas:focus
{
	outline: none !important;
}

#message
{
	position: absolute;
	/* top: 40%;
	left: 60%; */
	background-color: white;
	color: black;
	/* display: block; */
	left: 425px;
	/* right: 0; */
	top: 0;
	width: 150px;
	/* width: 100%; */
	/* display: none; */
	/* height: 100px; */
	font-size: 70px;
	text-align: center;
	font-family: 'Denk One', sans-serif;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	/* -webkit-box-shadow: 0 30px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 30px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 30px rgba(0, 0, 0, 0.5); */
}

#chatInput
{	
	position: absolute;
	/*margin-left: auto;
	margin-right: auto; */
	opacity: 0;
/* 	width: 10vw;*/
	left: 45vw;
	top: 50vh; 
	z-index: 100;
	font-family: 'Righteous', sans-serif;
}

#scoreLabel
{
	right: 5vw;
	top: 5vw;
	background-color: white;
	position: absolute;
	z-index: 100;
	height: 0px;
	font-family: 'Righteous', sans-serif;
	/* padding: 1vw; */
	pointer-events: none;
	user-select: none;
	overflow: hidden;
	/* list-style-type:none; */
}

#scoreLabel ul
{
	
	list-style-type:none;
	padding: 0;
	margin: 0;
}


#turret
{	
	position: absolute;
	top: 0px;
}
#turret2
{
	position: absolute;	
	transform: rotate(45deg);
	top: 200px;
}
#bullet
{
	top:50px;
	left:70px;
	position: absolute;
}

#introTitle
{
	pointer-events: none;
	user-select: none;
	text-align: center;
	position: absolute;
	font-family: 'Denk One', sans-serif;	
	font-size: 8vw;
	
	margin: 0;
	width: 100vw;
	bottom: 40vh;
	opacity: 0;
	/* top: 2vh; */
	/* top: 0; */
	/* animation: moveDown 2s 1 linear; */
}
@keyframes moveDown
{
	
	from{bottom: -5vh;}
	to{bottom: -15vh;}
	
}
#titleDiv
{
	top: 0vh;
	width: 100vw;
	height: 100vh;
	display:block;
	overflow: hidden;
	background-color: white;
	position: absolute;
	/* pointer-events: none; */
	user-select: none;
	/* animation: blink 2s 1 ease; */
}
#titleDiv img
{
	width: 8vw;
	position: absolute;
	bottom: 40vh;
	transition: all 2s ease 0s;
	
	opacity: 0;
}
#titleDiv>:nth-child(1)
{
	left: 15vw;
}
#titleDiv>:nth-child(3)
{
	right: 15vw;
}

#helpText
{
	position: absolute;
	font-size: 2vw;
	text-align: center;
	/* background-color: rgba(255,255,255,0.5); */
	background-color: white;
	padding: 1vw;
	font-family: 'Denk One', sans-serif;
	left: 70vw;
	top: 110vh;
	pointer-events: none;
	user-select: none;
}

.animated
{
	
	transition: all 1s ease 0s;
}

/* body:hover #titleDiv
{
	height: 0vh; 
	top: 58vh;
}
body:hover #introTitle
{
	bottom: -8vh;
}
body:hover #titleDiv img
{
	bottom: -8vh;
}

@keyframes blink
{
	
	from{height: 16vh; top: 40vh; display:block;}
	to{height: 0vh; top: 60vh;display:none;}
	
} */